<div class="pokemon-details__info">
  <span>Name:</span> {{pokemon.name}}
</div>

<div class="pokemon-details__info">
  <span>Height:</span> {{pokemon.height}}
</div>

<div class="pokemon-details__info">
  <span>Weight:</span> {{pokemon.weight}}
</div>

<div class="pokemon-details__info">
  <span>Density:</span> {{density}}
</div>

<img src={{pokemon.avatarUrl}}>
